In [1]:
import pandas as pd
import numpy as np

Pandas has four main time related classes. Timestamp, DatetimeIndex, Period, and PeriodIndex.

Timestamp

In [2]:
#we create a timestamp
pd.Timestamp('9/1/2019 10:05AM')

Timestamp('2019-09-01 10:05:00')

In [3]:
#we can also create a timestamp by passing multiple parameters such as year,month etc
pd.Timestamp(2019,12,20,0,0)

Timestamp('2019-12-20 00:00:00')

In [4]:
#isoweekday() tells us what day of the week it is, 0=monday and 6=sunday
pd.Timestamp(2019,12,20,0,0).isoweekday()

5

In [5]:
#we can even extract a specific year or month or day or hour or minutes or seconds
pd.Timestamp(2019,12,20,10,34,16).second

16

Period

In [6]:
#suppose we arn't interested in a specific point in time but in a span of time(period)
#creating a period that is the month January, 2016
pd.Period('1/2016')

Period('2016-01', 'M')

In [7]:
#creating a day period
pd.Period('3/5/2016')

Period('2016-03-05', 'D')

In [8]:
#Arithmetic on period is very easy 
#lets say you adding 5 months to Januay, 2016
pd.Period('1/2016')+5

Period('2016-06', 'M')

In [9]:
#lets subtract two days from 3rd May 2016
pd.Period('3/5/2016')-2

Period('2016-03-03', 'D')

DatetimeIndex and PeriodIndex

In [10]:
#The index of the dataframe is the timestamp index
t1=pd.Series(list('abc'),[pd.Timestamp('2016-09-01'),pd.Timestamp('2016-09-02'),pd.Timestamp('2016-09-03')])
t1

2016-09-01    a
2016-09-02    b
2016-09-03    c
dtype: object

In [11]:
type(t1.index)

pandas.core.indexes.datetimes.DatetimeIndex

In [12]:
t2=pd.Series(list('def'),[pd.Period('2016-09'),pd.Period('2016-10'),pd.Period('2016-11')])
t2

2016-09    d
2016-10    e
2016-11    f
Freq: M, dtype: object

In [13]:
type(t2.index)

pandas.core.indexes.period.PeriodIndex

Converting to Datetime

In [14]:
#lets try different date formats found in messy data as see how panda converts it
d1 = ['2 July 2013', '29 Aug, 2014', '2015-06-26','7/12/16']
#make up some random data
ts3 = pd.DataFrame(np.random.randint(10,100,(4,2)),index=d1,columns=list('ab'))

In [15]:
ts3

               a   b
2 July 2013   84  39
29 Aug, 2014  29  95
2015-06-26    34  56
7/12/16       25  40

In [18]:
ts3.index = pd.to_datetime(ts3.index, format='mixed')

ts3

             a   b
2013-07-02  84  39
2014-08-29  29  95
2015-06-26  34  56
2016-07-12  25  40

In [19]:
pd.to_datetime('4.7.12', dayfirst=True)

Timestamp('2012-07-04 00:00:00')

Timedelta

In [20]:
#Time delta is the difference between two timestamps
pd.Timestamp('9/3/2016')-pd.Timestamp('9/1/2016')

Timedelta('2 days 00:00:00')

In [21]:
#you can also add days, hours and mins to a timedelta
pd.Timestamp('9/2/2016 8:10AM') + pd.Timedelta('12D 3h')

Timestamp('2016-09-14 11:10:00')

Offset

In [22]:
#Offset is similar to timedelta but it follows specific calendar rules. It allows 
#flexibility in terms of time intervals e.g business days, end of month etc

#creating a timestamp
pd.Timestamp('9/4/2016').weekday()

6

In [23]:
#now we can add a timestamp with a week ahead
pd.Timestamp('9/4/2016')+pd.offsets.Week()

Timestamp('2016-09-11 00:00:00')

In [24]:
pd.Timestamp('9/4/2016')+pd.offsets.MonthEnd()

Timestamp('2016-09-30 00:00:00')

Working with dates in a Dataframe

In [25]:
#Suppose we want to look at 9 measurements, taken bi-weekly, every sunday, starting
#in October 2016, using data_range, we can create a datatimeindex

dates = pd.date_range('10-01-2016', periods=9, freq='2W-SUN')
dates

DatetimeIndex(['2016-10-02', '2016-10-16', '2016-10-30', '2016-11-13',
               '2016-11-27', '2016-12-11', '2016-12-25', '2017-01-08',
               '2017-01-22'],
              dtype='datetime64[ns]', freq='2W-SUN')

In [26]:
#we can specify other frequencies e.g business days
pd.date_range('04-01-2016',periods=9, freq='B')

DatetimeIndex(['2016-04-01', '2016-04-04', '2016-04-05', '2016-04-06',
               '2016-04-07', '2016-04-08', '2016-04-11', '2016-04-12',
               '2016-04-13'],
              dtype='datetime64[ns]', freq='B')

In [27]:
#we can even do quarterly, with the quarter start in June
pd.date_range('04-01-2016',periods=12,freq='QS-JUN')

DatetimeIndex(['2016-06-01', '2016-09-01', '2016-12-01', '2017-03-01',
               '2017-06-01', '2017-09-01', '2017-12-01', '2018-03-01',
               '2018-06-01', '2018-09-01', '2018-12-01', '2019-03-01'],
              dtype='datetime64[ns]', freq='QS-JUN')

In [28]:
#lets create some random example
dates =pd.date_range('10-01-2016', periods=9, freq='2W-SUN')
dates
df = pd.DataFrame({'Count 1': 100 +np.random.randint(-5,10,9).cumsum(),
                   'Count 2': 120 +np.random.randint(-5,10,9)},index=dates)
df

            Count 1  Count 2
2016-10-02       98      117
2016-10-16       99      117
2016-10-30      104      116
2016-11-13      104      122
2016-11-27      100      115
2016-12-11      102      125
2016-12-25       99      124
2017-01-08      106      118
2017-01-22      110      122

In [29]:
#we can check what day of the week a specific index is
df.index.weekday

Index([6, 6, 6, 6, 6, 6, 6, 6, 6], dtype='int32')

In [30]:
#we can use diff() to find the difference between each date's value
df.diff()

            Count 1  Count 2
2016-10-02      NaN      NaN
2016-10-16      1.0      0.0
2016-10-30      5.0     -1.0
2016-11-13      0.0      6.0
2016-11-27     -4.0     -7.0
2016-12-11      2.0     10.0
2016-12-25     -3.0     -1.0
2017-01-08      7.0     -6.0
2017-01-22      4.0      4.0

In [31]:
#suppose we want to know what the mean count is for each month in our Dataframe
#we can do this using resample
df.resample('ME').mean()

               Count 1     Count 2
2016-10-31  100.333333  116.666667
2016-11-30  102.000000  118.500000
2016-12-31  100.500000  124.500000
2017-01-31  108.000000  120.000000

In [32]:
#indexing and slicing
df.loc['2017']

            Count 1  Count 2
2017-01-08      106      118
2017-01-22      110      122

In [33]:
df.loc['2016-12']

            Count 1  Count 2
2016-12-11      102      125
2016-12-25       99      124

In [34]:
df.loc['2016-12':]

            Count 1  Count 2
2016-12-11      102      125
2016-12-25       99      124
2017-01-08      106      118
2017-01-22      110      122

In [35]:
df.loc['2016']

            Count 1  Count 2
2016-10-02       98      117
2016-10-16       99      117
2016-10-30      104      116
2016-11-13      104      122
2016-11-27      100      115
2016-12-11      102      125
2016-12-25       99      124